.img-canva{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 324px;
    width: -webkit-fill-available;
    
}

.svv{
    height: auto;
    width: -webkit-fill-available;
}
